<div id="schermo-shop">
    <div class="titolo-shop">IL NEGOZIO</div>
    <div class="sottotitolo-shop">Acquista Joker (Max 4 slot. I Joker Negativi non occupano slot!)</div>
    <div style="font-size: 24px; color: #e67e22; margin-bottom: 20px; font-weight:bold;">I Tuoi Crediti: <span id="soldi-shop">0 🟡</span></div>
    <div class="griglia-joker-shop" id="container-joker-shop"></div>
    
    <div id="shop-inv-player">
        <div style="font-size: 14px; color: #fff; margin-bottom: 10px;">I Tuoi Joker Attuali (<span id="shop-slot-jokers">0/4</span>) - Clicca per vendere</div>
        <div id="shop-inv-list"></div>
    </div>

    <div id="pannello-shop-tools">
        <button class="btn-menu btn-menu-start" style="width: 250px; font-size: 20px;" onclick="chiudiShop()">PROSSIMO ROUND</button>
        <button id="btn-shop-reroll" class="btn-menu" style="width: 200px; background: #3498db; font-size: 16px;" onclick="eseguiRerollShop()">Reroll (1 🟡) - Rimasti: 0</button>
    </div>
</div>